#overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 20vw;
    height: 100vh;
    pointer-events: none;
    z-index: 10;
}

#params {
      width: 20vw;
      /* height: 100vh; */
      position: absolute;
      top: 0;
      right: 0;
      pointer-events: auto;
      background-color: red;
      opacity: 0.5;
    }

#logArea {
    width: 20vw;
    height: 30vh;
    position: absolute;
    bottom: 0;
    right: 0;
    pointer-events: auto;
    background-color: blue;
    opacity: 0.5;
}
#content{
    width:100vw;
    height:100vh;
}

#params button {
    pointer-events: auto;
    display: block;
    width:100%;
    font-size: 16px;
}

#config-select{
    width:100%;
    display:none;
    padding:5px;
}

#paramArea, #mapArea{
    padding:5px;
    display:none;
}

@keyframes openParams {
    from {
        height: 0;
    }
    to {
        height: 70vh;
    }
}

@keyframes closeParams {
    from {
        height: 70vh;
    }
    to {
        height: 0;
    }
}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}