#params {
      width: 20vw;
      /* height: 100vh; */
      position: absolute;
      top: 0;
      right: 0;
      pointer-events: none;
      background-color: red;
      opacity: 0.5;
    }

#content{
    width:100vw;
    height:100vh;
}

#params button {
    pointer-events: auto;
    display: block;
    width:100%;
    font-size: 16px;
}

@keyframes openParams {
    from {
        height: 0;
    }
    to {
        height: 100%;
    }
}

@keyframes closeParams {
    from {
        height: 100%;
    }
    to {
        height: 0;
    }
}